/* Global */
:root {
    /* color */
    --color-white: #fff;
    --color-dark-white: #bdbdbd;
    --color-black: #000;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-blue: #264ae9;
    --color-red: #f12294;

    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font Weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    /* background-color: var(--color-black); */
    position: fixed;
    width: 100%;
    align-items: center;
    color: var(--color-white);
    padding: 0 18px;
    transition: all 300ms ease-in-out;
    z-index: 1;
}

#navbar.navbar--dark {
    background-color: var(--color-black);
}

#navbar a {
    color: var(--color-white);
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu {
    display: flex;
}

.navbar__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__item:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.navbar__toggle-btn {
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

/* Home */
#home {
    background: url(images/home-background.png) center/cover no-repeat;
    padding: 100px;
    text-align: center;
    padding-top: 120px;
}

/* .home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-dark-white);
} */

.home__title,
.home__description {
    color: var(--color-white);
}

.home__description span {
    font-size: var(--font-micro);
}

.home__contact {
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
    color: var(--color-white);
}


/* section common */
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

/* About */
.about__img {
    position: absolute;
    left: 30%;
}

.about__description {
    font-weight: var(--weight-bold);
    color: var(--color-grey);
    font-size: var(--font-small);
}

.about__sub-description {
    font-size: var(--font-medium);
    margin-bottom: 24px;
    font-weight: var(--weight-semi-bold);
}

.about__down {
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    padding: 8px 12px;
    border: 2px solid var(--color-black);
    border-radius: var(--size-border-radius);
}

.about_hb {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.about__hb-item {
    cursor: pointer;
    box-sizing: border-box;
    padding: 8px 20px;
    border-radius: 20px;
    text-align: center;
    margin-right: 20px;
    font-size: var(--font-micro);
    font-weight: var(--weight-regular);
    box-shadow: rgba(9, 9, 12, 0.05) 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.about__hb-item:hover:nth-child(1) {
    background: rgba(255, 97, 97, 0.4);
}
.about__hb-item:hover:nth-child(2) {
    background: rgba(81, 107, 235, 0.4);
}
.about__hb-item:hover:nth-child(3) {
    background: rgba(255, 170, 117, 0.4);
}
.about__hb-item:hover:nth-child(4) {
    background: rgba(132, 223, 255, 0.4);
}

.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

.major {
    width: 30%;
}

.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
    color: var(--color-blue);
    /* color 조정필요 */
}

.major__icon i {
    transition: all 300ms ease;
}

.major__icon:hover i {
    color: var(--color-red);
    transform: rotate(30deg) scale(1.1);
}

.major__title,
.major__description {
    color: var(--color-black);
}

.major__title {
    font-weight: var(--weight-bold);
    margin-bottom: 12px;
    font-size: var(--font-regular);
}

/* Skills */
#skills {
    background: url(images/home-background.png) no-repeat center/170%;
    color: var(--color-white);
}

#skills h1 {
    color: var(--color-white);
}

.skills__description {
    color: var(--color-white);
}

.skillset {
    text-align: left;
    margin: 30px 0;
    width: 100%;
    padding: 0 50px;
}

.skillset p {
    color: var(--color-white);
}

.skillset li {
    margin-bottom: 15px;
}

.skillset__description {
    display: flex;
    justify-content: space-between;
    font-weight: var(--weight-bold);
}

.skill__bar {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: var(--color-dark-grey);
    border-radius: 20px;
    margin: 12px 0;
}

.skill__value {
    position: absolute;
    top: -55%;
    height: 8px;
    border-radius: 20px;
    background: linear-gradient(#9795ef,#f9c5d1);
}

/* Projects */
.projects__categories {
    margin: 40px;
}

.category__btn {
    border: 1px solid var(--color-dark-grey);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 38px;
}

.category__btn.selected,
.category__btn:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
    opacity: 1;
    top: 0;
}

.category__count {
    background-color: var(--color-red);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -20px;
    opacity: 0;
    transition: all 300ms ease-out;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all 300ms ease-in;
}

.work__projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}

.project {
    position: relative;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project.invisible {
    display: none;
}

.project__img {
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    position: absolute;
    background-color: var(--color-black);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(10px);
    transition: all 300ms ease-in;
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0);
}

.project__description h3,
.project__description p {
    color: var(--color-white);
}

.project__description h3::after {
    content: ''; 
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    display: block;
    background-color: var(--color-white);
}

/* Testimonials */
#testimonial {
    background: url(images/home-background.png) no-repeat center/160%;
}

#testimonial h1,
#testimonial h3 {
    color: var(--color-white);
}

.testimonials {
    margin: 40px;
}

.testimonial {
    display: flex;
    margin: 32px 0;
}

.testimonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
    margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
    margin-left: 40px;
}

.testimonial__speech-bubble {
    padding: 18px;
    background-color: var(--color-dark-white);
    border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble .name {
    margin-top: 22px;
}

.testimonial__speech-bubble a {
    color: var(--color-red);
}

/* Contact */
.contact__email,
.contact__phone {
    font-size: var(--font-regular);
}

.contact__links {
    font-size: var(--font-large);
    margin: 24px;
}

.contact__links i {
    color: var(--color-blue);
    transition: all 300ms;
}

.contact__links i:hover {
    color: var(--color-red);
    transform: scale(1.1);
}

.contact__description {
    font-size: var(--font-regular);
    color: var(--color-grey);
    font-weight: var(--weight-bold);
}

/* Footer */
footer {
    background-color: var(--color-black);
    text-align: right;
}

footer p {
    color: var(--color-white);
    font-size: var(--font-micro);
    font-weight: var(--weight-semi-bold);
    padding: 12px 8px;
    margin: 0;
}

/* up button */
.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 50px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 50%;
    opacity: 0;
    transition: all 300ms ease-in;
    pointer-events: none;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}

/* Moblie 768px 반응형 */
@media screen and (max-width: 768px) {
    .navbar__logo {
        font-size: var(--font-small);
        display: block;
    }

    .navbar__logo.hide {
        display: none;
    }

    .navbar__toggle-btn {
        display: block;
    }

    #navbar {
        padding: 16px;
        align-items: center;
        background-color: var(--color-black);
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar__menu.open {
        display: block;
    }

    .home__description {
        font-size: var(--font-small);
    }

    .about__img {
        display: none;
    }

    .about__majors {
        flex-direction: column;
    }

    .major {
        width: 100%;
        margin-bottom: 32px;
    }

    #skills {
        background-size: cover;
    }

    .skillset {
        padding: 0;
    }

    .project {
        flex-grow: 1;
    }

    .projects__categories {
        width: 100%;
        margin: 8px auto;
    }

    .category__btn {
        width: 100%;
        margin: 4px 0;
    }

    #testimonial {
        background-size: cover;
    }

    .testimonial {
        flex-direction: column;
        align-items: center;
    }

    .testimonial__avatar:nth-child(even) {
        margin-left: 0px;
        margin-top: 12px;
    }
    
    #testimonial .section__container {
        margin: 0;
    }

    .testimonial__speech-bubble {
        width: 100%;
    }

    .testimonial:nth-child(2) img {
        order: 2;
    }

    .testimonial__avatar:nth-child(odd) {
        margin-right: 0px;
        margin-top: 12px;
    }

    footer {
        text-align: center;
    }

    .arrow-up {
        right: 20px;
    }
}