/* Global */
:root {
    /* color */
    --color-white: #fff;
    --color-light-white: #eee;
    --color-dark-white: #bdbdbd;
    --color-black: #000;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    
    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font Weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
}

/* Universal tags */
* {
    box-sizing: border-box;
}